# 시작

유니코드 문자 표준
영어는 ascii -> 유니코드
한국어도 유니코드

유니코드: 글자의 크기에 따라 utf-8, [utf-16, utf-32]

파이썬의 문자열 str -> unicode 기반이다.

euc-kr (옛날 코드는 UTF로 안써서 우리나라 파일인데 옛날 건데 한국말이 깨졌다 그러면 이걸로 인코딩)
CP949 : ms 윈도우즈의 한글코드(안되면 이걸로)

In [1]:
text = '파이썬'
print(text)
print( ord('파'))

파이썬
54028

In [19]:
#인코딩
enc_text = text.encode('euc-kr')
enc_text

b'\xc6\xc4\xc0\xcc\xbd\xe3'

In [20]:
dec_text = enc_text.decode('euc-kr')
dec_text

'파이썬'

In [6]:
print('hello ttenk kong')

hello ttenk kong

In [13]:
# 변수 = 함수
# 안녕하세요
# 바보세요
age = input()
name = input()
age + name

 한
 지훈

'한지훈'

In [13]:
# 변수 = 함수
# 안녕하세요
# 바보세요
age = input()
name = input()
age + name

 한
 지훈

'한지훈'

In [29]:
def calculate_sum(a, b):
    result = a + b
    return result

if calculate_sum(3,4)> 0:
    print("양수입니다")

양수입니다

In [29]:
def calculate_sum(a, b):
    result = a + b
    return result

if calculate_sum(3,4)> 0:
    print("양수입니다")

양수입니다

# 주석
안녕하세요 코딩의 재앙 한지훈님등장이다

# 변수

# 표준 입력과 표준 출력

In [34]:
12345
10
# ipython 라이브러리 기본 기능
# print(12345) 표준출력 기능을 내장하고 있다.

10

In [48]:
# type("12345") = type('123') = str -> 텍스트 : 더하기 x 곱하기 o 
# typr(123) = int -> 숫자

#EX
'한지훈'*3

'한지훈한지훈한지훈'

In [54]:
name = input('당신의 이름을 입력하세요') #뭔가를 받을 수 있음

당신의 이름을 입력하세요 안재이

In [83]:
age = int(input('당신의 나이를 입력하세요')) #뭔가를 받을 수 있음 
age

당신의 나이를 입력하세요 24

24

In [84]:
#age = int(age)

In [56]:
name

'안재이'

In [85]:
print(age, name)
age, name
age

24 안재이

24

In [71]:
print('나는 '+name+'이고 나이는 '+age+'입니다.')

나는 안재이이고 나이는 10,000살입니다.

In [86]:
age + 10

34

# 연습

In [87]:
# 자기 이름으로 삼행시 짓기

print('한: 방에 웃음 짓고 ')
print('지: 혜를 더해 가며')
print('훈: 훈히 나아가자')

한: 방에 웃음 짓고
지: 혜를 더해 가며
훈: 훈히 나아가자

In [95]:
line1 = input('한: ')
line2 = input('지: ')
line3 = input('훈: ')
print(line1, line2, line3, sep='! ')

한:  한지훈은
지:  ㅈ ㅣ 랄맞은 별명이 있다
훈:  "훈발롬"

한지훈은! ㅈ ㅣ 랄맞은 별명이 있다! "훈발롬"

In [96]:
print(line1, line2, line3, sep='\n')

한지훈은
ㅈ ㅣ 랄맞은 별명이 있다
"훈발롬"

In [97]:
print(line1, line2, line3, sep='\t')

한지훈은	ㅈ ㅣ 랄맞은 별명이 있다	"훈발롬"

In [127]:
삼행시 = line1+'\n'+line2+'\n'+line3
print(삼행시) #print는 이스케이프 함수도 인식해준다
삼행시 #이스케이프 함수 인식 못함ㅠ

한지훈은
ㅈ ㅣ 랄맞은 별명이 있다
"훈발롬"

'한지훈은\nㅈ ㅣ 랄맞은 별명이 있다\n"훈발롬"'

# 변수

#변수는 type safe : 변수를 선언할 때 타입(유형)을 지정하지 않아도 되는 특성   
변수명 = 값

      
## 변수의 명명규칙
1. 문자, 숫자, 밑줄을 가지고 만든다
2. 숫자로 시작하면 안된다
3. 대소문자를 구분한다
4. 공백 x
5. 특수기호, 공백x, 예약어 쓸 수 없다   
   False = 10 -> 안됨   
   fales = 10 -> 가능

In [121]:
x = 10
y = 'hello'
z = 3.141592
x,y,z

(10, 'hello', 3.141592)

In [122]:
print(type(x),type(y),type(z))

<class 'int'> <class 'str'> <class 'float'>

In [129]:
#언팩킹
a,b,c= 10,20,30
a,b,c

(10, 20, 30)

In [130]:
print(a,b,c)

10 20 30

In [131]:
a=b=c=40
a,b,c

(40, 40, 40)

In [135]:
d = True # bool형
e = None #type이 없음 NoneType
d,e

(True, None)

In [139]:
a = 10
b = a
print(a,b)
id(a), id(b)

10 10

(140737074178776, 140737074178776)

In [140]:
a = 20
print(a,b)
id(a), id(b)

20 10

(140737074179096, 140737074178776)

In [4]:
a = 10
c = 20 
b = 10 # -> 10의 값을 재활용 중이다 
print(a,b)
id(a), id(b), id(c)

10 10

(140737074178776, 140737074178776, 140737074179096)

In [5]:
aa = 10
bb = aa
print(aa,bb)
id(aa),id(bb)

10 10

(140737074178776, 140737074178776)

In [ ]:
#의미 부여하기 어려운 변수명
x = 100
y = 100

#의미있는 변수명
age = 20
name = '신해림'
user_name = 'tteng kkong'
admin_name = 'prinssese'

#대문자 upper-case 상수에만 사용
#ex) PI=3.1415912
#ex) MAX_CONNECTTIONS = 10 최대 연결 수
#ex) MIN_VALUE = 0 최솟값

## NAME_SPACE

변수가 최초로 정의된 영역에 따라 유효범위가 결정됩니다
- 지역변수 : 함수 영역 내에서 선언한 변수
- 전역변수 : 함수 영역 밖에서 선언한 변수
- 정적변수 :

In [14]:
# 지역변수 -> 함수 안에서 만들면 밖으로 못나옴 함수가 울타리라 생각하면 쉬움
def local_example():
    local_var = 100
    print('여기는 함수의 영역입니다.',local_var)

print(local_example())
local_example()

여기는 함수의 영역입니다. 100
None
여기는 함수의 영역입니다. 100

In [16]:
# 전역 변수 -> 울타리 없이 만든 거라 어디서든 사용 가능 
global_var = '나는 전역이다'
print(global_var)

나는 전역이다

In [20]:
def global_example():
    local_var = 100
    print(global_var, local_var)
global_example()

나는 전역이다 100

In [26]:
jeehun = 3
def hanjeehun():
    global jeehun #gloval jeehun = 100 변수와 할당을 동시할 수 없음 
    print(jeehun)

hanjeehun()
jeehun

3

3

In [163]:
#변수 영역 연습

counter = 0 #global

def increment_counter():#counter = counter +1
    global counter 
    counter += 1
    print('카운터 : ',counter)

increment_counter()
increment_counter()
increment_counter()

카운터 :  1
카운터 :  2
카운터 :  3

In [162]:
increment_counter()

카운터 :  92

# 교재 변수 연습

In [207]:
#리스트를 연동하는 게 아니라 복사하고 싶을 때 (기본적으론 연동됨)
#연동
barktaeyang = ['박봅슬','박지혜','서빛나리']
girlfriend = barktaeyang
barktaeyang[0] = 'chuchu' # 안에 요소들을 바꿀 때는 안에 요소가 아니라 리스트 순서로 바꿔야 함  0,1,2 등)
girlfriend

['chuchu', '박지혜', '서빛나리']

In [ ]:
#복붙
d=[1,2,3]
f = d[:] #순서가 중요함 d가 먼저 나오면 안됨 정의하고자 하는 걸 먼저 적어야 함 
d[2]=4 #여기서 1은 순서를 말함 0,1,2가 순서인데 1-0 / 2-1 / 3-2
f,d

국어,영어,수학 = (80,75,55)
print(국어)

In [211]:
과목=국어,영어,수학 = (80,75,55)

#자료형 

- 기본 자료형 : 숫자열형 int, 문자열형 str, 부울형
- 복합 자료형 : 리스트, 셋, 튜플, 딕셔너리

자료형 ㅣ 설명 ㅣ 예시 ㅣ
ㅣ-----ㅣ-----ㅣ-----ㅣ
정수형 (int)
정수를 저장하는 자료형
1, -5, 100
실수형 (float)
소수점이 있는 숫자를 저장하는 자료형
3.14, -0.001, 2.0
문자열 (str)
텍스트를 저장하는 자료형
"Hello", '파이썬'
논리형 (bool)
참/거짓 값을 저장하는 자료형
True, Fals

- 수정 불가능한 데이터 타입 : 수치형, 부울형, 문자열, 튜플
- 수정 가능한 데이터 타입: 리스트, 딕셔너리, 셋

In [213]:
#수치형 - int
20, type(20)

(20, int)

int
1.진법:10진수, 2진수, 8진수, 16진수
2.입력하는 방법은 다르지만, print()결과는 동일하다

In [234]:
a = 10
b = 0b0101 #2진수 - 0/1로 표현하는 방법 ->0101=2^3*0 + 2^2*1 + 2^1*0 + 2^0*1=
b

5

In [236]:
c = 0o1000 #0o 8진수 , 10 -> 8^1*1+8^0*0 11->8^1+8^1 / 100=64 / 1000
c, 64*8

(512, 512)

In [216]:
d = 0b1000
d

8

In [248]:
e = 0x19d #> 1*16^2+6*16^1+d(13)*16^0(1) 19d = d(13)*16^1 + 9*16^1 + 1*16^2
(16**2)*1 + (16**1)*9 + (16**0)*13, e #제곱하려면 ^대신 * 두개쓸 것

(413, 413)

In [247]:
1*(16**2)

256

In [223]:
#flot
b = 3.14
b, type(b)

(3.14, float)

### 지수의 표기
숫자e2 -> 10^2의 곱 = 10**2
숫자e-2 -> 10^-2의 곱 = 10**-2

In [230]:
fa = 10e2
fa, 10**3

(1000.0, 1000)

In [255]:
fb = 2e2 #e를 10**이라 생각하면됨 2*10**2
fb, 2*10**2

(200.0, 200)

In [231]:
fc = 3.1415e9
fc

3141500000.0

# 불리언 BOOLEAN 값 - True, False
논리연산, 비교연산

In [232]:
ba = True
bb = 'true'
type(ba), type(bb)

(bool, str)

In [233]:
ba == 1

True

In [258]:
#논리 연산자 - and or not

bc = 1
ba and bc

1

In [3]:
#사칙연산 + - * / , //(값) , %(나머지)

a = 2
b = 3

In [5]:
a+b
a-b
a*b
a/b, a//b, a%b #몫, 나머지

(0.6666666666666666, 0, 2)

In [15]:
#비교 연산자
1+2 == 3
1+2 != 3
1+3 <= 4

False

In [18]:
#비교연산자와 논리연산자의 결합
10%2 == 0 and 12%3 == 0

True

In [19]:
a = '1234'
b = '5678'
a,b, id(a), id(b)

('1234', '5678', 1393759606832, 1393784591760)

In [20]:
#대입연산자
a = 10
b = a+2
a,b

(10, 12)

In [22]:
a = 20
a += 1 #a = a+1
a

21

In [123]:
a -= 1 
a

-73

In [43]:
a = 3
b = 2
a += 2 + b
a

7

# 문자열 str
' ', " ", """ """, ''' ''' docstring

In [126]:
a = 'hello'
b = 'python'
c = '*'
c*10
a+b # 더하기는 문자열끼리

'hellopython'

In [128]:
d = "kim's family"
d

"kim's family"

In [129]:
e = '1'
e == '1'

True

## 인덱스

In [145]:
#문자열은 리스트, 열거형
a='20010331Rabcd' #13개의 글자의 목록
'3' + a[1:]  #숫자 자리수 > 인덱스

'30010331Rabcd'

In [134]:
a[0:3] #해석 0부터 3개 가져와 (콜론), 슬라이싱 slice

'200'

In [138]:
#rab a='20010331Rabcd'
a[8:11]

'Rab'

In [141]:
a[9:13]

'abcd'

In [142]:
s='abc'
a=s
a is s

True

In [ ]:
b = s[:] # [:] 전부 가져와 십새기야 
a is b

In [144]:
s1 = '1'*1000
b = s1[:]
s1 == b

True

doc_string = '''docstring \n
start\n
end\n
'''

print(doc_string)

In [22]:
#docsting은 큰따옴표(") 또는 작은따옴표(')를 3개 붙이면 안에서 줄바꿈했을 때 '\n'를 사용하지 않고도 줄바꿈 할 수 있음
#주로 언제씀? -> 문서의 주석을 달 때 많이 사용한다고 함
#'shift' + 'tab' 설명서 나오게 함 
doc_string = '''docstring \n
start\n
end\n
'''

print(doc_string)
doc_string

docstring

start

end

'docstring \n\nstart\n\nend\n\n'

In [24]:
dir(text)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [44]:
print(text)
text.count("파이")
text*4

파이썬

'파이썬파이썬파이썬파이썬'

# excape 문자
#사용법 \n, \' 특수문자를 그냥 그냥 텍스트로 인식하게 한다. 

### \ '역슬래시'

| 이스케이프 문자 | 의미             |
| -------- | -------------- |
| `\n`     | 줄바꿈(새 줄)       |
| `\t`     | 탭(tab)         |
| `\r`     | 캐리지 리턴(줄 처음으로) |
| `\\`     | 백슬래시 자체를 출력    |

In [40]:
print('hello\nworld')

hello
world

### raw-strint 그냥 문자열 기능

raw-string : 모두다 문자열이다 r'str?\'
f-string : 형식코드가 내포된 문자열 f'str{text}' # {}중괄호로 표시한 것들은 코드로 해석해

In [50]:
str_1 = '12\\4' # 12\x04
str_1

'12\\4'

In [51]:
raw_str = r'12\4'
raw_str

'12\\4'

In [53]:
raw_str_1= r'hello\nworld'
print(raw_str_1)

hello\nworld

### f'string 
f' {수식}문자열이에요 {변수}'

In [59]:
name = 'jeehun'
age = 25
print('제 이름은', name, ' 내 나이는', age,' 입니다')

제 이름은 jeehun  내 나이는 25  입니다

In [60]:
name = 'jeehun'
age = 25
print(f'제 이름은 {name}이고 내 나이는 {age}입니다')

제 이름은 jeehun이고 내 나이는 25입니다

In [63]:
#이름과 자기소개를 입력받아서 출력하는 프로그램을 작성

name = input()
age = input()
print(f'나는 대한민국의 재앙 킹갓제네럴백수 {name}이다 시발ㄹ럼들아. 내 연식은 {age}이다')

 한지훈
 31살

나는 대한민국의 재앙 킹갓제네럴백수 한지훈이다 시발ㄹ럼들아. 내 연식은 31살이다

### 추가공부 문자열.fotmat()

In [66]:
#dir(f_str_1)
format_str = '{}{} are worth us${}' #template
format_str.format(99.99,'dollars', 100)

'99.99dollars are worth us$100'

In [66]:
#dir(f_str_1)
format_str = '{0:.4f}{1:s} are worth us${2:d}' #template
format_str.format(99.99,'dollars', 100)

# {0:.4f}: 첫 번째 값(인덱스 0)을 소수점 아래 4자리까지 실수로 표현
# {1:s}: 두 번째 값(인덱스 1)을 문자열로 출력
# {2:d}: 세 번째 값(인덱스 2)을 10진수 정수로 출력

'99.99dollars are worth us$100'

In [70]:
menu = input('주문할 메뉴를 입력하세요')
price = int(input('한 개 가격이 얼마인가요?')) #input은 그냥 받으면 문자열로 받게 됨 그래서 숫자열로 바꿔줘야 함 
count = int(input('몇 개나 주문하세요? '))

total = price*count
msg = ' {}메뉴의 {}개 가격은 총 {:,}입니다.'
print(msg.format(menu,count,total))

주문할 메뉴를 입력하세요 햄버거
한 개 가격이 얼마인가요? 3000
몇 개나 주문하세요?  2

 햄버거메뉴의 2개 가격은 총 6,000입니다.

In [80]:
items = [
    {"name": "아메리카노", "price": 3000, "qty": 2},
    {"name": "카페라떼", "price": 4000, "qty": 1},
    {"name": "샌드위치", "price": 5500, "qty": 3}
]

header_str = '{:10}{:10}{:10}{:10}' # 상단 헤더에 대한 코드 
print(header_str.format('상품명','가격','수량','총액'))
print('-'*40)
data_str = '{:10}{:10,}원{:10}개{:10,}원' # 밑에 데이터에 대한 코드 
for item in items :
    item_name = item['name']
    item_price = item['price']
    item_qty = item['qty']
    total_price = item_price*item_qty
    
    print(data_str.format(item_name, item_price, item_qty, total_price))

상품명       가격        수량        총액
----------------------------------------
아메리카노          3,000원         2개     6,000원
카페라떼           4,000원         1개     4,000원
샌드위치           5,500원         3개    16,500원

In [91]:
items: [
    {"name": "박보슬", "age":31,"lovelevel":90}, #이게 하나의 ele1
    {"name": "서빛나리","age":31,"lovelevel":88}, # ele2
    {"name": "이슬","age":29,"lovelevel":79} # ele3
    ]

header_str1 = '{:10}{:10}{:10}'
print(header_str1.format('이름','나이','애정도'))
print('-'*40)

data_str1 = '{}{}살{}러브파워'
for ele in items :
    ele_name = ele['name']
    ele_age = ele['age']
    ele_lovelevel = ['lovelevel']
    print(data_str1.format(ele_name,ele_age,ele_lovelevel))

이름        나이        애정도
----------------------------------------

KeyError: 'age'

### 추가공부
| 함수                  | 설명                  | 예시                                        |
| ------------------- | ------------------- | ----------------------------------------- |
| lower()           | 모두 소문자로 변환          | "Python".lower() → "python"           |
| upper()           | 모두 대문자로 변환          | "python".upper() → "PYTHON"           |
| capitalize()      | 첫 글자만 대문자           | "hello".capitalize() → "Hello"        |
| title()           | 각 단어의 첫 글자 대문자      | "hello world".title() → "Hello World" |
| strip()           | 앞뒤 공백 제거            | " hello ".strip() → "hello"           |
| lstrip()          | 왼쪽 공백 제거            | " hello".lstrip()                       |
| rstrip()          | 오른쪽 공백 제거           | "hello ".rstrip()                       |
| replace(old, new) | 문자열 바꾸기             | "hello".replace("l", "x") → "hexxo"   |
| split()           | 문자열 나누기 (기본: 공백)    | "a b c".split() → ['a', 'b', 'c']     |
| join(list)        | 리스트를 문자열로 결합        | " ".join(['a', 'b']) → "a b"          |
| find(sub)         | 처음 등장하는 위치 (없으면 -1) | "apple".find("p") → 1                 |
| index(sub)        | 처음 등장하는 위치 (없으면 오류) | "apple".index("p") → 1                |
| count(sub)        | 부분 문자열 개수           | "banana".count("a") → 3               |
| startswith(sub)   | 해당 문자열로 시작?         | "python".startswith("py") → True      |
| endswith(sub)     | 해당 문자열로 끝남?         | "python".endswith("on") → True        |
| isalnum()         | 영문자+숫자인가?           | "abc123".isalnum() → True             |
| isalpha()         | 영문자만인가?             | "abc".isalpha() → True                |
| isdigit()         | 숫자만인가?              | "123".isdigit() → True                |
| isspace()         | 공백문자만 있는가?          | " \t\n".isspace() → True              |

# type error

In [54]:
b = 2
c = '3'
b+c #type error

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [55]:
b + int(c)

5

In [ ]:
c = '3a'
b + int(c) #value error - C는 타입을 바꿀 수 없는 값이라는 오류내용

In [57]:
b + int(c[:1])

5