In [1]:
# 연산자
2+3 #산술연산자
a=2 #대입연산자
a>2 #비교연산자

False

In [2]:
b=c=d=a
b,c,d,a

(2, 2, 2, 2)

In [4]:
id(b) == id(c)

True

# 조건문 
-  비교연산자를 이용한 부울값이 출력되어야 한다.
-  ':' 이후 영역표시는 들여쓰기로 맞춰야 한다

In [6]:
kor_score = 95

#단독 if 
if kor_score>90 : #True일때만 실행
    print('pass')

pass

In [8]:
# 한줄 작성
if kor_score > 90 : print('pass')

pass

In [9]:
if kor_score < 90 :
    print('pass')
else :
    print('fail')

fail

In [13]:
#한줄로 작성
#true일때 실행문 if 조건식 else 'False일 때 실행문;

# 에러 if kor_score < 90 : print('pass') else : print('fail')

print('pass') if kor_score > 90 else print('fail') # 'true 실행문' + if + 조건식 + else + 'False 실행문'

pass

In [15]:
#삼항 연산자 공부하기
# a>b ? print("a가 크네"), print('b가 크네')

In [20]:
# 중첩 if (nested if)

score = int(input('점수를 입력하세요, 숫자로 시발럼아'))

if score >= 90:
    print('수')
else :
    if score >= 80 :
        print('우')
    else :
        if score >= 70 :
            print('미')
        else :
            if score >= 60:
                print('양')
            else :
                print('가')

점수를 입력하세요, 숫자로 시발럼아 40

가

In [25]:
score = int(input('점수를 입력하세요, 숫자로 시발럼아'))

if score >= 90:
    print('수')

elif score >= 80 :
    print('우')

elif score >= 70 :
    print('미')

elif score >= 60:
    print('양')
else :
    pirnt('가')

점수를 입력하세요, 숫자로 시발럼아 80

우

In [38]:
formula = input('수식을 입력해 시발럼아. (예, 20*40) ')
num1, opr, num2 = formula.split()
num1, opr, num2

수식을 입력해 시발럼아. (예, 20*40)  20 ; 30

('20', ';', '30')

In [46]:
#1번재 방법

num1 = float(num1)
num2 = float(num2)

opr_list = ['+', '-', '*']

if opr =='*':
    result = num1 * num2
elif opr == '-' :
    result = num1 - num2
elif opr == '+' :
    result = num1 + num2
else :
    result = None 
    
if result == None: 
    print("지원할 수 없는 연산자입니다.")
else :
    print(f'{num1} {opr} {num2} = {result}')

지원할 수 없는 연산자입니다.

In [69]:
#1번재 방법

formula = input('수식을 입력해 시발럼아. (예, 20*40) ')
num1, opr, num2 = formula.split()
num1, opr, num2

num1 = float(num1)
num2 = float(num2)

opr_list = ['+', '-', '*']

if opr not in  opr_list :
    print('지원하지 않는 연산자입니다.')
else :
    if opr =='*':
        result = num1 * num2
    elif opr == '-' :
        result = num1 - num2
    elif opr == '+' :
        result = num1 + num2
    else :
        result = None 
    
    print(f'{num1} {opr} {num2} = {result}')

수식을 입력해 시발럼아. (예, 20*40)  45 * 80

45.0 * 80.0 = 3600.0

# 1줄로 쓰기

In [49]:
num = 7
#if num % 2 :print('짝수') else print('홀수')

print( '짤수' if num % 2 == 0 else '홀수')

홀수

In [53]:
#졸려 = true - 쉽시다, 아니면 화이팅

text = input('졸려? y/n')

print ('쉽시다' if text =='y' else '화이팅')

졸려? y/n y

쉽시다

In [54]:
#강사님 답

졸려 = False
action = '쉽시다' if 졸려 == True else '화이팅'
# or action = '쉽시다' if 졸려 == True else '화이팅'
print(action)

화이팅

In [55]:
q = input('신땡콩은 공주야? (y/n)')

신땡콩은 공주야? (y/n) y

In [57]:
player = '가위'
computer = '바위'
#result = '승', '패', '무승부'

'승' if player == '가위' and computer == '보' else '무승부' if player == computer else '패'

'패'

In [70]:
# 학점 A,B,C,D 출력하는 1줄 조건식 90,80,70,나머지

score2 = int(input('점수를 입력해 시발럼아'))
result = 'A' if score2 >= 90 else 'B' \
if score2 >= 80 else 'C' \
if score2 >= 70  else 'D' 

result

점수를 입력해 시발럼아 87

'B'

In [63]:
numbers = [1, 3, 5, 7, 9, 11, 13, 15]
search_number = 9

for num in numbers:
    if num == search_number:
        print(f"{search_number}를 찾았습니다!")
        break
    print(f"현재 검사 중인 숫자: {num}")

현재 검사 중인 숫자: 1
현재 검사 중인 숫자: 3
현재 검사 중인 숫자: 5
현재 검사 중인 숫자: 7
9를 찾았습니다!

In [64]:
for i in range(1, 11):
    if i % 2 != 0:  # 홀수인 경우
        continue
    print(i)  # 짝수만 출력

2
4
6
8
10

In [66]:
condition = True

if condition:
    pass  # 나중에 구현할 예정
else:
    print("else 구문 실행")