# 반복문 : for, while

# for문

for 변수 in 반복자 :
반복자에는 리스트, 문자열, 튜플, 딕셔너리, 세트(집합)

In [1]:
data = [0,1,2,3,4]

for var in data :
    print(var)

0
1
2
3
4

In [14]:
#딕셔너리

dic = {'지훈':'짱', '해림':'공주'}

for r,v in dic.items() :
 print(f'{r}은 {v}이다')

지훈은 짱이다
해림은 공주이다

In [16]:
#튜플

x = '지훈','땡콩',

for z in x :
    print(z)

type(x)

지훈
땡콩

tuple

In [19]:
#range
ran = range(1,10)

for x in range(1,10) :
    print(x)

type(ran)

1
2
3
4
5
6
7
8
9

range

#range의 활용

# range(1,10,2)
start, stop, step = 1 default

In [23]:
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [26]:
#1~100까지 합 구하기
sum1 = 0

for i in range(1,101) :
    sum1 += i
print(sum1)

5050

In [28]:
#3의 배구의 합(1~100)

sum2 = 0

for i2 in range(3,101,3) :
    sum2 += i2
print(sum2)

1683

In [29]:
# 선생님 답 

sum3 = 0 
for i3 in range(1,101):
    if(i%3) == 0 :
        sum3 += i
sum3

0

In [30]:
char_list = ['a','b','c']

for x in char_list:
    print(x)

a
b
c

In [31]:
char_list = ['a','b','c']

for u,o in enumerate(char_list):
    print(u,o)

0 a
1 b
2 c

In [32]:
char_list_2 = ['hello','hi','good-bye']
zip(char_list, char_list_2)

In [34]:
for item in zip(char_list, char_list_2):
    print(item) # 형태는 튜플

('a', 'hello')
('b', 'hi')
('c', 'good-bye')

In [52]:
#99단
#2 x 1 =2 

li_1 = 1,2,3,4,5,6,7,8,9
li_2 = 2

for i in range(1,10):
    print(f'2 x {i} = {2*i}')

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18

In [51]:
#99단
#2 x 1 =2 

li_1 = 1,2,3,4,5,6,7,8,9
li_2 = 1,2,3,4,5,6,7,8,9

while li1, li2 in zip(li_1, li_2) :
    print(f'{li2} x {li1} = {li1*li2}')

SyntaxError: invalid syntax (1567851010.py, line 7)

In [63]:
movie_dict = {'미션임파서블':4, '미치광이 피에로':3, '씨너스':3}

for k,v in movie_dict.items():
    print(f'{k} 이 영화의 평점은 {'🍕'*v}입니다')

미션임파서블 이 영화의 평점은 🍕🍕🍕🍕입니다
미치광이 피에로 이 영화의 평점은 🍕🍕🍕입니다
씨너스 이 영화의 평점은 🍕🍕🍕입니다

In [57]:
for dan in range(1,10) :
    print(f'---{dan}---')
    for i in range(1,10) :
        print(f'{dan}x{i}={dan*i}')
    print()

---1---
1x1=1
1x2=2
1x3=3
1x4=4
1x5=5
1x6=6
1x7=7
1x8=8
1x9=9

---2---
2x1=2
2x2=4
2x3=6
2x4=8
2x5=10
2x6=12
2x7=14
2x8=16
2x9=18

---3---
3x1=3
3x2=6
3x3=9
3x4=12
3x5=15
3x6=18
3x7=21
3x8=24
3x9=27

---4---
4x1=4
4x2=8
4x3=12
4x4=16
4x5=20
4x6=24
4x7=28
4x8=32
4x9=36

---5---
5x1=5
5x2=10
5x3=15
5x4=20
5x5=25
5x6=30
5x7=35
5x8=40
5x9=45

---6---
6x1=6
6x2=12
6x3=18
6x4=24
6x5=30
6x6=36
6x7=42
6x8=48
6x9=54

---7---
7x1=7
7x2=14
7x3=21
7x4=28
7x5=35
7x6=42
7x7=49
7x8=56
7x9=63

---8---
8x1=8
8x2=16
8x3=24
8x4=32
8x5=40
8x6=48
8x7=56
8x8=64
8x9=72

---9---
9x1=9
9x2=18
9x3=27
9x4=36
9x5=45
9x6=54
9x7=63
9x8=72
9x9=81

In [66]:
ran = range(1,10)

for q in ran :
    print(q*'*')

*
**
***
****
*****
******
*******
********
*********

In [73]:
ran = range(1,10)
ran2 = 10
for q in ran :
    print((10-q)*'*')

*********
********
*******
******
*****
****
***
**
*

In [82]:
ran = range(1,20)
sum5 = 0

for q in ran :
    if q <= 10 :
        print(q*'*')
    else :
        print((20-q)*'*')

*
**
***
****
*****
******
*******
********
*********
**********
*********
********
*******
******
*****
****
***
**
*

# while

In [4]:
sum = 0
for i in range(6):
    sum += 1
sum

6

In [ ]:
# 뭘 하고 싶은지 생각해보기 

i=0
while True :
    if i>6:
        break
    sum += i
    i +1
print(sum)

In [26]:
while i<6:
    i += 1
    sum += i
sum

1767

In [1]:
sum(range(1,10)) #ㅇ

45

# 리스트 컴프리헨션

[ 리스트요소 for <1개> in <반복범위>]

In [11]:
numbers = [1,2,3,4,5]
squares = [num*5 for num in numbers]
squares

[5, 10, 15, 20, 25]

### 리스트 컴프리헨션 + 조건식

In [12]:
# 조건식과 for과 결합된 식
test_list = []

for x in range(10):
    if x<5:
        test_list.append(x*2)
    else :
        test_list.append(x)
test_list

[0, 2, 4, 6, 8, 5, 6, 7, 8, 9]

In [17]:
# 리스트컴프리헨션을 이용한 변환, 필터 

#이건 필터
[ x for x in range(10)  if x<5]

#이건 변환
[ x*2 if x<5 else x for x in range(10)]

[0, 1, 2, 3, 4]

In [15]:
#로또 번호 당첨 여부 확인
my_numbers = [3, 11, 17, 23, 38, 42]
win_numbers = [7, 14, 23, 32, 38, 45]

for num in my_numbers:
    if num in win_numbers:
        print(f"🎉 당첨 번호 있음! ({num})")
        break
else:
    print("😢 꽝입니다.")

[0, 2, 4, 6, 8, 5, 6, 7, 8, 9]

In [ ]:
my_numbers = [3, 11, 17, 23, 38, 42]
win_numbers = [7, 14, 23, 32, 38, 45]

[print(f"🎉 당첨 번호 있음! ({num})") if num in win_numbers else print("😢 꽝입니다.")  for num in my_numbers]

In [2]:
my_numbers = [3, 11, 17, 23, 38, 42]
win_numbers = [7, 14, 23, 32, 38, 45]

matched = [num for num in my_numbers if num in win_numbers]
if matched :
        print(matched)
else:
        print("꽝입니다")

[23, 38]

In [ ]:
my_numbers = [3, 11, 17, 23, 38, 42]
win_numbers = [7, 14, 23, 32, 38, 45]

matched = [ num for num in my_numbers if num in win_numbers ] 
if matched :
    print(matched)
else:
    print("😢 꽝입니다.")  
print(f' 당첨' if matched else f'꽝')

In [ ]:
multiples = [ x for in range(1, 21) if x % 3== 0]

# Iterator, Generator

- iterable : for의 in에 나올 수 있는 객체의 유형
- 이터레이터 : iter(), enumerate(), for문에서 next() 직접 호출
- 제너레이터 : 사용자 정의함수 중에서 yield 사용한 패턴 - yield 기준으로 하나씩 실행
- for나 while은 한번에 반복적으로 실행하는데 yield는 한번에 한번씩만 나옴

In [7]:
from collections.abc import Iterable

isinstance('hello',Iterable)

True

In [8]:
isinstance('hello',Iterable)

True

In [20]:
itr_test_str = 'hello'
itr_obj = iter(itr_test_str)

type(itr_obj)

itr_obj.__next__()

'h'

In [15]:
itr_obj.__next__() # 곡 이터를 선정한 것과 나눠서 실행할 것

StopIteration:

In [1]:
itr_test_lst = [10,20,30]
iter(itr_test_lst)

In [2]:
itr_obj_1 = iter(itr_test_lst) # 이건 파이썬이 내장하고 있는 함수 
type(itr_obj_1)

list_iterator

In [5]:
itr_obj_1.__next__() # 이건 메서드

30

In [35]:
itr_obj_1 = iter(itr_test_str)

for i, item in enumerate(itr_obj_1):
    print(i, item)

0 10
1 20
2 30

In [40]:
msg = 'hello'
for i in enumerate(msg):
    print(i)

(0, 'h')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')

In [43]:
def gen_자판기() :
    yield '신땡콩1'
    yield '신땡콩2'
    yield '신땡콩3'
    yield '신땡콩4'
    yield '신땡콩4'
    yield '신땡콩4'
    yield '신땡콩4'
    yield '신땡콩4'
    yield '신땡콩4'
    
    

gen_자판기()

In [45]:
gen = gen_자판기()
next(gen)

'신땡콩1'

In [48]:
next(gen)

'신땡콩4'

In [51]:
def 제곱머신():
    for x in range(10):
        yield x**2


g_m = 제곱머신()

In [69]:
next(g_m)

StopIteration:

In [70]:
for n in g_m:
    print(n)

In [22]:
def loading():
    while True:
        for dot in ['.', '..', '...']:
            yield dot

In [31]:
load = loading()

print(load)

<generator object loading at 0x000001A19641DB40>