# 함수

- 인자 = 매개변수, 입력, 파라미터 등 정의가 필요함
- 반환값 = 리턴값, 결과값
- 함수이름

- 정의를 먼저 해야 함 def 땡콩aka()"

In [14]:
def 해림_aka():
    print("신땡콩")
    print("고라파덕")
    print("똥강아지")
    print("팅코")
    print("신쿼카")
    print("신올라프")

type(해림_aka())

신땡콩
고라파덕
똥강아지
팅코
신쿼카
신올라프

NoneType

In [5]:
# call
해림_aka()

신땡콩
고라파덕
똥강아지
팅코

In [15]:
신땡콩 = 해림_aka()
신땡콩

신땡콩
고라파덕
똥강아지
팅코
신쿼카
신올라프

In [17]:
#리턴이 있는 경우

def 해림_aka1():
    print("신땡콩")
    print("고라파덕")
    print("똥강아지")
    print("팅코")
    print("신쿼카")
    print("신올라프")
    return '잘잤어?'

In [19]:
해림_aka1()

신땡콩
고라파덕
똥강아지
팅코
신쿼카
신올라프

'잘잤어?'

In [21]:
신땡콩 = 해림_aka1()

신땡콩
고라파덕
똥강아지
팅코
신쿼카
신올라프

In [26]:
신땡콩

'잘잤어?'

# 입력값이 있는 함수

In [35]:
def my_kong(x):
    print(f'{x}아 잘잤어?')
    z=x*20
    return z

In [32]:
my_kong('땡콩아')

땡콩아아 잘잤어?

In [37]:
result = my_kong(10)
print(result)

10아 잘잤어?
200

In [38]:
def my_kong2(x,y):
    print(f'{x}와 {y}를 계산합니다.')
    add_result = x+y
    mul_result = x*y
    return add_result, mul_result

In [40]:
my_kong2(10,20)

10와 20를 계산합니다.

(30, 200)

In [41]:
func_result = my_kong2(10,20)
func_result[0] = 100 # 이건 튜플이어서 변경 불가

10와 20를 계산합니다.

TypeError: 'tuple' object does not support item assignment

In [45]:
func_result1, f2 = my_kong2(10,20) # unpacking 언팩킹 가능
func_result1

10와 20를 계산합니다.

30

In [46]:
f2

200

## 입력값의 타입: 수치형 vs (리스트) 객체형

수치형: 값에 의해 전달 call by value
객체형: 값(참조)의 전달 call by reference > 같은 객체를 다룬다

In [71]:
#리스트 매개변수의 실행 
def my_kong3(a, lst1):
    a+=1
    lst1.append(a)
    return a

In [73]:
num = 10
lst_num = [1,2,'12']
print(f'before : {num}, {lst_num}')

my_kong3(10,lst_num)
print(f'after : {num}, {lst_num}') # 에프터 값이 10,[1,2, '12',11]나와야 함

before : 10, [1, 2, '12']
after : 10, [1, 2, '12', 11]

In [66]:
my_kong3(a=num, lst1=lst_num)

11

키워드매개변수 : 함수의 매개변수 목록은 변수명이 매개변수 명이다

매개변수명을 이용한 호출은 매개변수의 순서와 무관하다

In [74]:
my_kong3(lst1=lst_num,a=num)

11

In [85]:
def greeting(name, greeting='안녕'):
    print(f'{greeting}, {name}님!')

In [83]:
greeting('신쿼카', '안녕하십니까')

안녕하십니까, 신쿼카님!

In [87]:
greeting('한지훈')

안녕, 한지훈님!

In [94]:
#가변인자

def sum_all(*args):
    return sum(args)

In [95]:
sum_all(1,2,3,4,5,6,7,8,9,9)

54

In [97]:
def sum_all(arg1, arg2, *args): #*args의 '*'의 의미는 이 뒤에있는 것들은 다 받아버려 
    result = arg1+arg2+sum(args)`
    return result

In [99]:
sum_all(1,2,3,4,5,6)

21

매개 변수의 순서가 중요

In [109]:
## **kargs

def print_info(**kargs):
    for k,v in kargs.items():
        print(f'{k}, {v}')

In [111]:
print_info(name ='한지훈', age=22, city='seoul', nick_name='hi')

name, 한지훈
age, 22
city, seoul
nick_name, hi

## 요일 구하는 함수 정의

- 입력:yeat, month, day
- 출력: '월요일'
- 함수명: 요일찾기()

In [13]:
year = 2025 
month = 6 
day = 5

In [14]:
#날짜 - 연,월, 일 필요 year=2025 month=06 day=05

total_days = 0
#년도일수 입력년도- 1*365
#윤년인지 체크
#2월이 29일

for i in range(1,year):
    #윤년: 400으로 나누어 나머지가 0, 4로 나누어 나머지가 0
    #평년: 100으로 나누어 나머지가 0

    if i%400 == 0:
        total_days += 366
    elif i%00 == 0:
        total_days += 365
    elif i%4 == 0:
        total_days += 366
    else:
        total_days += 365

print(total_days)

#월일수 입력한 월 1*30
#월별 일수

#일수 입력한 일

ZeroDivisionError: integer modulo by zero

In [16]:


total_days = 0
#년도일수 입력년도-1 * 365
#윤년인지 체크
#2월이 29일

for i in range(1,year):
    #윤년: 400으로 나누어 나머지가 0, 4로 나누어 나머지가 0
    #평년: 100으로 나누어 나머지가 0

    if year%400 == 0:
        total_days += 366
    elif year%100 == 0:
        total_days += 365
    elif year%4 == 0:
        total_days += 366
    else:
        total_days += 365

print(total_days)
#월일수 입력한 월 -1 * 30
month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
for m in range(1,month):
    total_days += month_days[m]
#올해가 윤년이면 
if month>3 :
    if i%400 == 0:
        total_days += 1
    elif i%100 == 0:
        total_days += 0
    elif i%4 == 0:
        total_days += 1
    else:
        total_days += 0

print(total_days)
#일수 입력한 일 
total_days += day

#요일정하기
remain_days = total_days%7

if remain_days == 1:
    print('월요일')
elif remain_days == 2:
    print('화요일')
elif remain_days == 3:
    print('수요일')
elif remain_days == 4:
    print('목요일')
elif remain_days == 5:
    print('금요일')
elif remain_days == 6:
    print('토요일')
elif remain_days == 7:
    print('월요일')

738760
738912
목요일

In [18]:

total_days = 0
#년도일수 입력년도-1 * 365
#윤년인지 체크
#2월이 29일

for i in range(1,year):
    #윤년: 400으로 나누어 나머지가 0, 4로 나누어 나머지가 0
    #평년: 100으로 나누어 나머지가 0

    if i%400 == 0:
        total_days += 366
    elif i%100 == 0:
        total_days += 365
    elif i%4 == 0:
        total_days += 366
    else:
        total_days += 365

print(total_days)
#월일수 입력한 월 -1 * 30
#월별 일수
month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
for m in range(1,month):
    total_days += month_days[m]

#올해가 윤년인지
if month>3 :
    if i%400 == 0:
        total_days += 1
    elif i%100 == 0:
        total_days += 0
    elif i%4 == 0:
        total_days += 1
    else:
        total_days += 0

print(total_days)

#일수 입력한 일
total_days += day

print(total_days)

739251
739403
739408

In [21]:
year = 2025
month = 6 
day = 5

total_days = 0
#년도일수 입력년도-1 * 365
#윤년인지 체크
#2월이 29일

for i in range(1,year): #이번년까지의 합 
    #윤년: 400으로 나누어 나머지가 0, 4로 나누어 나머지가 0
    #평년: 100으로 나누어 나머지가 0

    if i%400 == 0:
        total_days += 366
    elif i%100 == 0:
        total_days += 365
    elif i%4 == 0:
        total_days += 366
    else:
        total_days += 365

print(total_days)
#월일수 입력한 월 -1 * 30
#월별 일수
month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31] #이번달까지의 일자 수 합
for m in range(1,month):
    total_days += month_days[m]

#올해가 윤년인지 추가로 확인해서 윤년이면 하루를 더해줘야 함 
if month>=3 :
    if year%400 == 0:
        total_days += 1
    elif year%100 == 0:
        total_days += 0
    elif year%4 == 0:
        total_days += 1
    else:
        total_days += 0

print(total_days)

#일수 입력한 일
total_days += day #(오늘자 일 수)

print(total_days)

#요일정하기
remain_days = total_days % 7 # 총 일자를 7로 나눠서 남은 숫자가 해당 요일 

if remain_days == 1:
    print('월요일')
elif remain_days == 2:
    print('화요일')
elif remain_days == 3:
    print('수요일')
elif remain_days == 4:
    print('목요일')
elif remain_days == 5:
    print('금요일')
elif remain_days == 6:
    print('토요일')
else:
    print('일요일')

739251
739402
739407
목요일

In [ ]:
year = 2025
month = 6 
day = 5

total_days = 0
#년도일수 입력년도-1 * 365
#윤년인지 체크
#2월이 29일

for i in range(1,year): #이번년까지의 합 
    #윤년: 400으로 나누어 나머지가 0, 4로 나누어 나머지가 0
    #평년: 100으로 나누어 나머지가 0

    if i%400 == 0:
        total_days += 366
    elif i%100 == 0:
        total_days += 365
    elif i%4 == 0:
        total_days += 366
    else:
        total_days += 365

print(total_days)
#월일수 입력한 월 -1 * 30
#월별 일수
month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31] #이번달까지의 일자 수 합
for m in range(1,month):
    total_days += month_days[m]

#올해가 윤년인지 추가로 확인해서 윤년이면 하루를 더해줘야 함 
if month>=3 :
    if year%400 == 0:
        total_days += 1
    elif year%100 == 0:
        total_days += 0
    elif year%4 == 0:
        total_days += 1
    else:
        total_days += 0

print(total_days)

#일수 입력한 일
total_days += day #(오늘자 일 수)

print(total_days)

#요일정하기
remain_days = total_days % 7 # 총 일자를 7로 나눠서 남은 숫자가 해당 요일 

if remain_days == 1:
    print('월요일')
elif remain_days == 2:
    print('화요일')
elif remain_days == 3:
    print('수요일')
elif remain_days == 4:
    print('목요일')
elif remain_days == 5:
    print('금요일')
elif remain_days == 6:
    print('토요일')
else:
    print('일요일')

In [25]:
import datetime
today = datetime.date(2025,6,5)

today.weekday()

3

In [29]:
def 요일찾기(year, month, day):
    week_day_name = '일요일'

    return week_day_name

In [27]:
year = 2025
month = 6 
day = 5

day_name = 요일찾기(year, month, day)

print(f'입력하신 날짜는 {day_name}')

In [44]:
year = 2025
month = 6 
day = 5

total_days = 0
#년도일수 입력년도-1 * 365
#윤년인지 체크
#2월이 29일

for i in range(1,year): #이번년까지의 합 
    #윤년: 400으로 나누어 나머지가 0, 4로 나누어 나머지가 0
    #평년: 100으로 나누어 나머지가 0

    if i%400 == 0:
        total_days += 366
    elif i%100 == 0:
        total_days += 365
    elif i%4 == 0:
        total_days += 366
    else:
        total_days += 365

print(total_days)
#월일수 입력한 월 -1 * 30
#월별 일수
month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31] #이번달까지의 일자 수 합
for m in range(1,month):
    total_days += month_days[m]

#올해가 윤년인지 추가로 확인해서 윤년이면 하루를 더해줘야 함 
if month>=3 :
    if 윤년체크(year):
        total_days += 1
    
print(total_days)

#일수 입력한 일
total_days += day #(오늘자 일 수)

print(total_days)

#요일정하기
remain_days = total_days % 7 # 총 일자를 7로 나눠서 남은 숫자가 해당 요일
day_names = ['일요일','월요일','화요일','수요일','목요일','금요일','토요일']
week_day_name = day_names[remain_days]

return week_day_name

739251
739402
739407

SyntaxError: 'return' outside function (2237693280.py, line 47)

In [43]:
def 윤년체크(year):

    if year%400 == 0:
        return True
    elif year%100 == 0:
        return False
    elif year%4 == 0:
        return True
    else:
        return False
        
    return 윤년여부

In [45]:
def 요일찾기(year, month, day):
    week_day_name = '일요일'
    total_days = 0

    for i in range(1,year):

        if 윤년체크(i):
            total_days += 366
        else :
            total_days += 365

    #print(total_days)

    #월일수 입력한 월 -1 * 30
    #월별 일수
    month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
    for m in range(1,month):
        total_days += month_days[m]

    #올해가 윤년인지
    if month>=3 :
        if 윤년체크(year):
            total_days += 1

    #print(total_days)

    #일수 입력한 일
    total_days += day

    #print(total_days)

    #요일정하기
    remain_days = total_days % 7

    day_names = ['일요일','월요일','화요일','수요일','목요일','금요일','토요일']
    week_day_name = day_names[remain_days]


    return week_day_name

In [46]:
year = 2025
month = 6 
day = 5

day_name = 요일찾기(year, month, day)

print(f'입력하신 날짜는 {day_name}')

입력하신 날짜는 목요일

# 성적처리 시스템

- calc_total()
- calc_average()
- calc_order()

- print_student(students) : 전학생의 성적을 출력
- print_class() : 반평균, 각 과목별 평균 출력

In [95]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

In [103]:
def calc_total(stus) :
    for s in stus:
        s['total'] = s['kor'] + s['eng'] + s['math']

In [104]:
def  calc_average(stus) :
    for a in stus:
        a['avg'] = a['total'] / len(a)-5

In [107]:
def calc_order(stus):
    for student in stus :
        rank=1
        for other in stus :
            if other['total'] > student['total']:
                rank += 1
        student['order'] = rank

In [109]:
def print_student(stus):
    for s in stus:
        print(f'{s['name']},국어:{s['kor']}, 영어:{s['eng']},수학:{s['math']}, 등수{s['order']}')

In [117]:
def print_class(stus):
    #반평균
    class_avg =0
    count = len(stus)
    
    total = sum(student['total'] for student in stus)
    class_avg = total/count/3
    kor_avg =sum(student['kor'] for student in stus)/count
    eng_avg = sum(student['eng'] for student in stus)/count
    math_avg = sum(student['math'] for student in stus)/count
    #각 과목별 평균 출력
    print(f'반평균: {class_avg} 국어: {kor_avg} 영어: {eng_avg} 수학: {math_avg}')

In [118]:
calc_total(students)
calc_average(students)
calc_order(students)
print_student(students)
print_class(students)

김철수,국어:90, 영어:80,수학:85, 등수2
박제동,국어:90, 영어:85,수학:90, 등수1
홍길동,국어:80, 영어:80,수학:80, 등수3
반평균: 84.44444444444444 국어: 86.66666666666667 영어: 81.66666666666667 수학: 85.0

# 람다 함수

선언 >> lamda <매개변수> : 코드<br>
호출 >> (lamda <매개변수>: 코드) (매개변수값)

In [3]:
def aaa(a):
    result = a+1 
    return result

In [5]:
lambda a : a+1

In [6]:
(lambda a : a+1)(4) #람다의 정의 즉시 호출

5

In [7]:
my_lambda = lambda a : a+1 # 람다의 재정의 
my_lambda(5)

6

In [11]:
def sum1(a,b):
    return a+b
sum1(5,6)

11

In [9]:
(lambda a,b : a+b) (5,6)

11

In [13]:
def calc_func(a,b,opr): # 사칙연산 해보기
    result = opr (a,b)
    return result

calc_func(1,2, lambda x,y : x+y)

3

In [16]:
#map 함수 
fruits = [ 'apple', 'banana', 'chetty']
#str.uuper
#fruits[0].upper()

list(map(str.upper, fruits))

['APPLE', 'BANANA', 'CHETTY']

In [ ]:
str_number ='12345'
list(str_number)# 문자열 리스트

In [17]:
# int(list(str_number)) -> 스트링 함수이기 때문에 리스트로 변경 모샇ㅁ

NameError: name 'str_number' is not defined

In [20]:
str_number ='12345'
list(map(int, str_number))

[1, 2, 3, 4, 5]

In [28]:
numbers ='12345'
list(map(lambda x : int(x)**2,numbers))

[1, 4, 9, 16, 25]

In [26]:
kor_score = [1,2,3]
eng_score = [4,5,6]

list(map(lambda x,y : x+y, kor_score, eng_score))

[5, 7, 9]

In [38]:
#평균, 최댓값, 최솟값

kor_score = [1,2,3]
eng_score = [4,5,6]

la = lambda s : sum(s) / len(s), zip(kor_score,eng_score)
list(map(la))

TypeError: map() must have at least two arguments.

In [ ]:
kor_score = [1,2,3]
eng_score = [4,5,6]
math_score = [7,8,9]

list(map(lambda x,y : x+y, kor_score, eng_score))

In [35]:
kor_score = [1,2,3]
eng_score = [4,5,6]
math_score = [7,8,9]

list(map(lambda s : sum(s), zip(kor_score, eng_score,math_score)))

[12, 15, 18]

In [34]:
kor_score = [1,2,3]
eng_score = [4,5,6]
math_score = [7,8,9]

list(map(lambda s : max(s), zip(kor_score, eng_score,math_score)))

[7, 8, 9]

In [1]:
#리스트 컴프리헨션의 필터
numbers = [1,2,3,4,5]

[x for x in numbers if x %2 == 0]

[2, 4]

In [3]:
#필터 함수

list(filter(lambda x : x%2 == 0,numbers))

[2, 4]

In [5]:
#numbers를 2배하고, 그 중에 짝수만 리스트로 리턴

list(filter(lambda x : x%2==0, map(lambda x: x*2,numbers)))

[2, 4, 6, 8, 10]

In [6]:
#sorted 함수

In [10]:
numbers = [4,3,6,7,2,3,1,9]
#sort() metod
numbers.sort()
numbers

[1, 2, 3, 3, 4, 6, 7, 9]

In [12]:
numbers = [4,3,6,7,2,3,1,9]
nums = sorted(numbers) 

 
# 넘스로 받으면 계속 받은 값으로 출력 sorted는 함수이기 때문에 안에 넣어진 상태로는 변경 안됨

[1, 2, 3, 3, 4, 6, 7, 9]

In [ ]:
nums = sorted(numbers, reverse=True)

In [14]:
numbers

[4, 3, 6, 7, 2, 3, 1, 9]

In [17]:
numbers1 = [-3,-5,-4,-2,1,2,4,3]
sorted(numbers1, key=abs)

[1, -2, 2, -3, 3, -4, 4, -5]

In [19]:
words = ['apple', 'bababa', 'tomato', 'blueberry']
sorted(words)

['apple', 'bababa', 'blueberry', 'cherry']

In [21]:
sorted(words, key=len, reverse=True)

['blueberry', 'bababa', 'cherry', 'apple']

In [24]:
#마지막글자의순
sorted(words, key=lambda w : w[-1])

['bababa', 'apple', 'cherry', 'blueberry']

In [29]:
#튜플의 요소 기준 정렬
data = [(1,4),(2,3),(3,2)]
sorted(data, key=lambda x : x[1], reverse=True)

[(1, 4), (2, 3), (3, 2)]

In [44]:
student = [("Alice",20,85),("Bob",22,90),("Charlie",21,78)]

#나이 기준으로 정렬
sorted(student, key=lambda x: x[1])

[('Alice', 20, 85), ('Charlie', 21, 78), ('Bob', 22, 90)]

In [43]:
student = [("Alice",20,85),("Bob",22,90),("Charlie",21,78)]

#높은 점수순으로 정렬
sorted(student, key=lambda y : y[2])

[('Charlie', 21, 78), ('Alice', 20, 85), ('Bob', 22, 90)]